.modal-button {
  font-family: 'gotham';
  font-size: 17px;
  width: 132px;
  height: 53px;
  border-radius: 8px;
  color: @gray-lighter;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  background: @black-light;
}

.info {
  background: @brand-grad-info;
  box-shadow: @brand-shadow-info;
}

.primary {
  background: @black-soft;
}

.danger {
  background: @gray-darkest;
}

.modal-button:disabled {
  opacity: 0.35;
  &:hover {
    cursor: default !important;
    text-shadow: none !important;
  }
}

.modal-button:hover {
  text-shadow: 0px 0px 5px @gray-light;
  text-decoration: none;
}
